:root {
  --max-width: 1024px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --gray-color: 112, 112, 112;
  --light-gray-color: 226, 226, 226;
  --input-gray: 110, 116, 124;
  --dark-blue: 88, 102, 234;
  --light-blue: 43, 160, 234;
  --text-blue: 131, 166, 228;
  --red-color: 226, 42, 50;
  --light-green-color: 76, 175, 80;
  --green-color: 60, 211, 66;
  --white-color: 265, 265, 265;
  --placeholder-color: 110, 116, 124;

  --btn-background: linear-gradient(
    to top right,
    rgba(var(--dark-blue), 1),
    rgba(var(--light-blue), 1)
  );
  --last-btn-background: linear-gradient(
    to top right,
    rgba(var(--light-green-color), 1),
    rgba(var(--green-color), 1)
  );

  --border-rd: 4px;
  --box-shadow: 0 1px 1.7rem rgba(var(--light-blue), 0.63);
  --inset-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background: url("../assets/clouds-cold-dark-540518.png") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--white-color));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--light-gray-color));
  height: 8rem;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--light-gray-color));

  cursor: pointer !important;
}
